* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carouselItem {
  img {
    border-radius: 20px;
    height: 90vh;
  }
}

@media (max-width: 800px) {
  .carouselItem {
    img {
      border-radius: 20px;
      height: 140vh;
    }
  }
}
